*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #20202D;
	color:#fff;
	font-family: 'Roboto', sans-serif;
}
.hero{
		padding-top: 50px;
		background: linear-gradient(0deg, #000000 0.01%, rgba(0, 0, 0, 0) 95.44%);
	}
.container{
	max-width: 945px;
	margin: auto;
	width: 90%;

	& .hero-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 105px;
	}
	& .social-link{
		margin-left: 20px;
		text-decoration: none;
	}
	& .hero-sub{
		display: block;
		font-size: 24px;
		line-height: 28px;
		color: #FFBB01;
		margin-bottom: 14px;
		display: inline-block;
	}
	& h1{
		margin-bottom: 20px;
		font-weight: bold;
		font-size:50px;
		line-height: 50px;

	}
	&  .hero-subtext{
		font-size: 16px;
		line-height: 28px;
		max-width: 428px;
	}
	& .button{
		background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
		box-shadow: 0px 4px 0px #B68500;
		border-radius: 5px 5px 10px 10px;
		width: 285px;
		color:#000;
		font-weight: bold;
		height: 65.17px;
		left: 172px;
		top: 460px;
		border:none;
		text-transform: uppercase;
		margin-top: 38px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	& .hero-avatar img{
		width: 389px;
		height: 389px;
		border-radius:50%;
		border:13px solid #fff;
		
}
	& .hero-content{
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding-bottom: 155px;
	}
}

//features
.section{
	padding-top: 64px;
	padding-bottom: 64px;
}
.features{
	background-color: #000;
	& .features-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& .featres-itam{
			width: 30%;
			margin-bottom: 63px;
			.features-title{
				font-weight: bold;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 16px;
			}
			& .features-iamge{
				display: block;
				margin-bottom: 22px;
			}
			& .features-text{
				font-size: 16px;
				line-height: 28px;
			}
		}
	}
}
.section-titel{
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 84px;
	}
// projects
.projects{
	background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
	& .projects-slide{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		& .project-text{
			flex-basis: 60%;
			display: flex;
			flex-wrap: wrap;
			& .project-titel{
				flex-basis: 100%;
				font-weight: bold;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 41px;
			}
			& .project-time, .project-cost{
				flex-basis: 50%;
				margin-bottom: 44px;
			}
			& .project-time, .project-cost, .project-feedback{
				display: flex;
				align-items:flex-start;
			}
			& .project-subtitle{
				font-weight: bold;
				font-size: 18px;
				line-height: 20px;
				margin-bottom: 8px;

			}
			& .project-paragraph{
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;
			}
			& .project-icon{
				margin-right: 16px;
				}
			& .project-feedback{
				& img{
				margin-bottom: 10px;
				}
		}

		}

		
	}
}



// contacts
.contacts-form{
	background: #FFFFFF;
	box-shadow: -5px 5px 0px #FFC41D;
	border-radius: 5px;
	max-width: 380px;
	padding: 40px 48px 49px 48px;
	& .form-titel{
		color:#000;
		font-weight: bold;
		font-size: 18px;
		line-height: 28px;
		text-align: center;
		margin-bottom: 29px;

	}
	& .input{
		background: #F8F8F8;
		box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
		border-radius: 5px;
		padding: 18px 20px;
		width: 100%;
		border:none;
		font-size: 14px;
		line-height: 28px;
		padding-left: 49px;
	}
	& .input-name{
		padding-bottom: 17px;
		background: url(../img/user-icon.svg) no-repeat center left 20px;
	}
	& .input-phone{
		background: url(../img/phone-icon.svg) no-repeat center left 20px;
	}
	& .form-button{
		width: 100%;
	}
}
.contacts-block{
	display: flex;
	align-items:center;
	justify-content: space-between;
	& .contacts-data{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 42px;
	}
	& .contacts-phone, .contacts-mail {
		flex-basis: 50%;
		margin-bottom: 53px;
	}
	& .contacts-titel{
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 15px;
	}
	& .contacts-link{
		text-transform: none;
		color:inherit;
		text-decoration: none;
		margin-right: 20px;

	}
	& .contacts-text{
		flex-basis:50%;
	}
	 
}
.contacts-policy{
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		text-decoration-line: underline;
		color: #A5A5A5;
		display: inline-block;
		padding-top: 72px;
	}
// rsponsive
@media (max-width: 1100px) {
	.hero-content{
	flex-direction: column;
	text-align: center;
	}
	.hero-avatar{
		order: 0;
		margin-bottom:17px;

	}
	.hero-text{
		order:1;
	}
	.featres-itam{
		flex-basis: 45%;
	}
	.projects-slide{
		flex-direction: column;

	}
	.project-image{
		margin-bottom: 40px;
	}
}
